.navbar-brand {
    font-family: cursive;
}
#nav-items a.nav-link {
    color: #fff;
}
a.nav-link.menu-lnk:after {
    content: '';
    width: 0; 
    height: 1px;
    display: block;
    right: 0;
    background: #fff;
    transition: width .3s ease;
}
a.nav-link.menu-lnk:hover:after {
  width: 100%;
  left: 0;
  background: #fff;
}
nav a img {
    height: 24px;
    padding: 0px 7px;
}
.l_panel {
    background: url(../img/bg_img.jpg);
    background-size: cover;
    padding: 8em 0px 15.05em 0px;
}
.l_box {
    background-color: #fff;
    height: 18em;
    width: 32em;
    border-radius: 4px;
    box-shadow: 0px 10px 20px -2px #000;
    padding: 1em 2em;
}
.r_panel {
    background: url(../img/bg_img.jpg);
    background-size: cover;
    padding: 5em 0px 5.6em 0px;
}
.r_box {
    background-color: #fff;
    height: 30.45em;
    width: 32em;
    border-radius: 4px;
    box-shadow: 0px 10px 20px -2px #000;
    padding: 1em 2em;
}
h3, label {
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
hr {
    height: 2px;
    width: 90%;
    background: #ccc;
}
.error {
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.book_box {
    margin: 10em 5em;
    padding: 2em 2em;
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 4px;

}
.sideline {
    border-right: 1px solid #ccc;
}
.box-sm {
    background: #ddd;
    padding: 16em 24em 16.3em;
}
.box-con {
    border: 2px solid #ccc;
}

.bgimg1 {
    background: url(../img/bg.jpg);
    background-attachment: fixed;
    padding: 18em;
}
.bgimg2 {
    background: url(../img/fortagua.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 18em;
}
.bgimg3 {
    background: url(../img/dp4.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 18em;
}
.bgimg4 {
    background: url(../img/pb.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 18em;
}
.bgimg5 {
    background: url(../img/sd1.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 18em;
}
.caro {
    margin-top: 5em;
}